<ng-container [ngSwitch]="true">
  <i
    class="bi-brightness-high-fill"
    *ngSwitchCase="icon == '01d' || icon == '01n'"
  ></i>
  <i
    class="bi-cloud-sun-fill"
    *ngSwitchCase="icon == '02d' || icon == '02n'"
  ></i>
  <i class="bi-cloud-fill" *ngSwitchCase="icon == '03d' || icon == '03n'"></i>
  <i class="bi-clouds-fill" *ngSwitchCase="icon == '04d' || icon == '04n'"></i>
  <i
    class="bi-cloud-rain-heavy-fill"
    *ngSwitchCase="icon == '09d' || icon == '09n'"
  ></i>
  <i
    class="bi-cloud-drizzle-fill"
    *ngSwitchCase="icon == '10d' || icon == '10n'"
  ></i>
  <i
    class="bi-cloud-lightning-rain-fill"
    *ngSwitchCase="icon == '11d' || icon == '11n'"
  ></i>
  <i
    class="bi-cloud-snow-fill"
    *ngSwitchCase="icon == '13d' || icon == '13n'"
  ></i>
  <i
    class="bi-cloud-haze2-fill"
    *ngSwitchCase="icon == '50d' || icon == '50n'"
  ></i>
</ng-container>
