@import "styles.scss";

.container {
  height: calc(100% - 120px);
  width: 100%;
  padding: 60px 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;

  .left-arrow,
  .right-arrow {
    height: auto;
    width: 20px;
    padding: 0 30px;
  }

  .weather-content {
    flex-grow: 100;
    align-self: center;

    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;

    .error-msg {
      h3 {
        padding: 16px 0;
        margin: 0;

        font-size: 54px;
        font-weight: 700;
        line-height: 1em;
      }

      h4 {
        padding: 0;
        margin: 0;

        font-size: 32px;
        font-weight: 600;
        line-height: 1em;
      }
    }

    .day-weather {
      width: calc(33% - 24px);
      padding: 0 12px;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      &:not(:last-child) {
        border-right: 3px solid var(--color);
      }

      small {
        margin-bottom: 12px;

        color: var(--color-darker);
        font-size: 24px;
        font-weight: 600;
      }

      .weather-icon {
        width: 60%;
        margin-bottom: 28px;
        fill: var(--color);
        opacity: 0.3;
      }

      .degrees {
        font-size: 0.6em;  
      }

      h1,
      h2 {
        padding: 0;
        margin: 0;
      }

      h1 {
        margin-bottom: 12px;

        font-size: 58px;
      }

      h2 {
        text-align: center;
      }
    }
  }
}
