<div
  class="container"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  (swipeup)="onSwipeUp()"
  (swipedown)="onSwipeDown()"
>
  <a [routerLink]="this.navigation.left" class="navigation-arrow left-arrow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.485"
      height="34.485"
      viewBox="0 0 21.485 34.485"
    >
      <g transform="translate(4.243 4.243)">
        <line x1="13" y2="13" stroke-linecap="round" stroke-width="6" />
        <line
          x1="13"
          y1="13"
          transform="translate(0 13)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>

  <div class="weather-content">
    <ng-container *ngIf="weather$ | async as weatherArr; else error">
      <div class="day-weather" *ngFor="let weather of weatherArr">
        <small>{{
          weather.dt * 1000 | date: "EEEEEE":"":"pl" | titlecase
        }}</small>
        <div class="weather-icon">
          <app-weather-icon [icon]="weather.weather[0].icon"></app-weather-icon>
        </div>
        <h1>{{ weather.main.temp | number: "1.0-0" }}<span class="degrees">°C</span></h1>
        <h2>{{ weather.weather[0].description | capitalizefirst }}</h2>
      </div>
    </ng-container>
    <ng-template #error>
      <h1>Coś poszło nie tak podczas pobierania pogody!</h1>
      <h2>Sprawdź połączenie z internetem i spróbuj ponownie.</h2>
      <button type="button" (click)="onRefreshWeather()">Pobierz pogodę</button>
    </ng-template>
  </div>

  <a [routerLink]="this.navigation.right" class="navigation-arrow right-arrow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.485"
      height="34.485"
      viewBox="0 0 21.485 34.485"
    >
      <g transform="translate(-747.257 -176.257)">
        <line
          x2="13"
          y2="13"
          transform="translate(751.5 180.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
        <line
          y1="13"
          x2="13"
          transform="translate(751.5 193.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>
</div>
