<div
  class="container"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  (swipeup)="onSwipeUp()"
  (swipedown)="onSwipeDown()"
>
  <app-nav-arrow-button
    class="nav-arrow"
    [link]="this.navigation.left"
    [direction]="'LEFT'"
  ></app-nav-arrow-button>

  <div class="alarms-content">
    <app-alarm-edit *ngIf="(editedAlarmId$ | async) !== null"></app-alarm-edit>
    <div class="alarms-list" *ngIf="(editedAlarmId$ | async) === null">
      <app-alarm
        *ngFor="let alarm of alarms$ | async; let id = index"
        [alarm]="alarm"
        [id]="id"
      ></app-alarm>
      <button class="add-alarm-btn" (click)="onCreateAlarm()">
        <i class="bi-alarm-fill"></i>Dodaj alarm
      </button>
    </div>
  </div>

  <app-nav-arrow-button
    class="nav-arrow"
    [link]="this.navigation.right"
    [direction]="'RIGHT'"
  ></app-nav-arrow-button>
</div>
