<app-page-skeleton [navigation]="navigation">
  <div class="timer-content">
    <div class="timer" *ngIf="timerService.time.subject | async as time">
      <app-set-time-part
        class="hours"
        [value]="time.hours"
        [editable]="!timerService.isRunning() && !timerService.countedDown"
        (change)="setTime($event, 'hours')"
      ></app-set-time-part>
      <div class="separator">:</div>
      <app-set-time-part
        class="minutes"
        [value]="time.minutes"
        [upLimit]="59"
        [downLimit]="0"
        [editable]="!timerService.isRunning() && !timerService.countedDown"
        (change)="setTime($event, 'minutes')"
      ></app-set-time-part>
      <div class="separator">:</div>
      <app-set-time-part
        class="seconds"
        [value]="time.seconds"
        [upLimit]="59"
        [downLimit]="0"
        [editable]="!timerService.isRunning() && !timerService.countedDown"
        (change)="setTime($event, 'seconds')"
      ></app-set-time-part>
    </div>
    <div class="buttons">
      <ng-container *ngIf="!timerService.countedDown; else countedDown">
        <button class="start-btn btn" (click)="timerService.startPause()">
          {{
            !timerService.isRunning() || timerService.isPaused()
              ? "Start"
              : "Pauza"
          }}
        </button>
        <button class="stop-btn btn" (click)="timerService.stop()">Stop</button>
      </ng-container>
      <ng-template #countedDown>
        <button
          class="stop-btn btn btn-full-width"
          (click)="timerService.reset()"
        >
          Wyłącz
        </button>
      </ng-template>
    </div>
  </div>
</app-page-skeleton>
