@import '../../styles.scss';

.home-container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;

    .container {
        flex-grow: 100;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .navigation-arrow {
            height: auto;
            width: 20px;
            padding: 0 30px;
        }

        .home-content {
            flex-grow: 100;
            padding: 0 20px;
            
            overflow: hidden;

            h1 {
                padding: 0;
                margin: 0;

                font-size: 28px;
                font-weight: 400;
                line-height: 1em;

                span {
                    font-weight: 600;
                }
            }

            .datetime {
                padding: 0;
                margin: 0;

                .time {
                    padding: 0;
                    margin: 0;

                    font-size: 140px;
                    font-weight: 700;
                    line-height: 1em;
                    // text-shadow: 0 0 6px $app-text-shadow;
                }

                .date {
                    padding: 0;
                    margin: 0;

                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1em;
                    // text-shadow: 0 0 6px $app-text-shadow;
                }
            }
        }

    }
}