<div class="container" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()" (swipeup)="onSwipeUp()" (swipedown)="onSwipeDown()">
        <a [routerLink]="this.navigation.left" class="navigation-arrow left-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                <g transform="translate(4.243 4.243)">
                    <line x1="13" y2="13" stroke-linecap="round" stroke-width="6"/>
                    <line x1="13" y1="13" transform="translate(0 13)" stroke-linecap="round" stroke-width="6"/>
                </g>
            </svg>
        </a>
    
        <div class="timer-content">
            <div class="timer">

                <div class="hours">
                    <button class="increase" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onIncrease('hours')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                    <p class="value">{{ getTime('hours') }}</p>
                    <button class="decrease" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onDecrease('hours')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                </div>

                <div class="separator">:</div>

                <div class="minutes">                    
                    <button class="increase" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onIncrease('minutes')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                    <p class="value">{{ getTime('minutes') }}</p>
                    <button class="decrease" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onDecrease('minutes')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                </div>

                <div class="separator">:</div>

                <div class="seconds">
                    <button class="increase" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onIncrease('seconds')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                    <p class="value">{{ getTime('seconds') }}</p>
                    <button class="decrease" [ngStyle]="!isRunning() ? {opacity: 100} : {opacity: 0}" (click)="onDecrease('seconds')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                            <g transform="translate(4.243 4.243)">
                                <line x1="13" y2="13" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                                <line x1="13" y1="13" transform="translate(0 13)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                            </g>
                        </svg>
                    </button>
                </div>
                
            </div>
            <div class="buttons">
                <button class="start-btn btn" (click)="onStartPause()">{{ (!isPaused() && isRunning()) ? 'Pauza' : 'Start'}}</button>
                <button class="stop-btn btn" (click)="onStop()">Stop</button>
            </div>
        </div>
    
        <a [routerLink]="this.navigation.right" class="navigation-arrow right-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.485" height="34.485" viewBox="0 0 21.485 34.485">
                <g transform="translate(-747.257 -176.257)">
                    <line x2="13" y2="13" transform="translate(751.5 180.5)" stroke-linecap="round" stroke-width="6"/>
                    <line y1="13" x2="13" transform="translate(751.5 193.5)" stroke-linecap="round" stroke-width="6"/>
                </g>
            </svg>
        </a>
    </div>