@import '../../styles.scss';

.container {
    height: calc(100% - 120px);
    width: 100%;
    padding: 60px 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .left-arrow, .right-arrow {
        height: auto;
        width: 20px;
        padding: 0 30px;
    }

    .stopwatch-content {
        flex-grow: 100;
        align-self: flex-end;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        overflow: hidden;
    
        .stopwatch {
            margin-bottom: 80px;
    
            h1 {
                padding: 0;
                margin: 0;
    
                font-size: 120px;
                font-weight: 700;
                line-height: 1em;
                // text-shadow: 0 0 6px $app-text-shadow;
                
                display: flex;
                flex-flow: row nowrap;

                span {
                    width: 170px;
                    display: block;

                    text-align: center;
                }

                &.hours {
                    font-size: 40px;

                    span {
                        width: auto;
                        padding: 0 8px;

                        font-size: 60px;
                    }
                }
            }
        }
    
        .buttons {
            width: 100%;
    
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
    
            .btn {
                width: 48%;
                padding: 15px;
    
                outline: none;
                border: none;
                border-radius: 500px;
                // box-shadow: 0 0 6px 0 $app-text-shadow;
    
                font-size: 24px;
                font-weight: 600;
    
                &.start-btn {
                    color: $app-accent;
                    background: $app-color;
    
                    &:hover {
                        background: $app-color-darker;
                    }
                }
    
                &.stop-btn {
                    background: #B90B0B;
                    color: $app-color;
    
                    &:hover {
                        background: darken(#B90B0B, 10%);
                    }
                }
            }
        }
    }
}