@import "styles.scss";

.container {
  height: calc(100% - 120px);
  width: 100%;
  padding: 60px 0;

  display: flex;
  flex-flow: row;
  align-items: center;

  .left-arrow,
  .right-arrow {
    height: auto;
    width: 20px;
    padding: 0 30px;
  }

  .calendar-content {
    flex-grow: 100;
    height: 312px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-flow: column nowrap;
    justify-self: center;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      margin: 0 0 12px 0;
      padding: 0;

      font-size: 32px;
      font-weight: 600;
      line-height: 1em;
    }

    .event {
      display: flex;
      flex-flow: row nowrap;

      background: var(--color);
      border-radius: 12px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .time {
        padding: 20px;
        width: calc(28% - 40px);

        display: flex;
        align-items: center;

        color: var(--accent);
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        line-height: 1em;
        border-right: 4px solid var(--accent);
      }

      .info {
        padding: 20px;
        display: flex;
        align-items: center;

        h3 {
          padding: 0;
          margin: 0;

          color: var(--accent);
          font-size: 32px;
          font-weight: 600;
          line-height: 1em;
        }
      }
    }
  }
}
