<div
  class="container"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  (swipeup)="onSwipeUp()"
  (swipedown)="onSwipeDown()"
>
  <a [routerLink]="this.navigation.left" class="navigation-arrow left-arrow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.485"
      height="34.485"
      viewBox="0 0 21.485 34.485"
    >
      <g transform="translate(4.243 4.243)">
        <line x1="13" y2="13" stroke-linecap="round" stroke-width="6" />
        <line
          x1="13"
          y1="13"
          transform="translate(0 13)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>

  <div class="calendar-content">
    <ng-container *ngIf="todayEvents.length">
      <h2>Dzisiaj</h2>
      <div class="card event" *ngFor="let event of todayEvents">
        <div class="time">
          {{ event.start.dateTime | date: "HH:mm" }}
        </div>
        <div class="info">
          <h3>{{ event.summary }}</h3>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="tomorrowEvents.length">
      <h2>Jutro</h2>
      <div class="card event" *ngFor="let event of tomorrowEvents">
        <div class="time">
          {{ event.start.dateTime | date: "HH:mm" }}
        </div>
        <div class="info">
          <h3>{{ event.summary }}</h3>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!todayEvents.length && !tomorrowEvents.length">
      <h2>Wydarzenia</h2>
      <div class="error">
        <h3>Brak nadchodzących wydarzeń.</h3>
      </div>
    </ng-container>
  </div>

  <a [routerLink]="this.navigation.right" class="navigation-arrow right-arrow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.485"
      height="34.485"
      viewBox="0 0 21.485 34.485"
    >
      <g transform="translate(-747.257 -176.257)">
        <line
          x2="13"
          y2="13"
          transform="translate(751.5 180.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
        <line
          y1="13"
          x2="13"
          transform="translate(751.5 193.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>
</div>
