$app-text-shadow: rgba(0, 0, 0, 0.2);

$app-padding: 20px;
$app-border-radius: 0;

$app-height: 480px;
$app-width: 800px;

:root {
  --accent: #0061d1;
  --accent-lighter: #0072f4;

  --color: #ffffff;
  --color-darker: #e2e2e2;
  --color-darkest: #acacac;

  --font-family: 'Montserrat', sans-serif;
}
