.weather-content {
  padding: 60px 0;
  flex-grow: 1;
  align-self: center;

  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;

  .error-msg {
    h3 {
      padding: 16px 0;
      margin: 0;

      font-size: 54px;
      font-weight: 700;
      line-height: 1em;
    }

    h4 {
      padding: 0;
      margin: 0;

      font-size: 32px;
      font-weight: 600;
      line-height: 1em;
    }
  }

  .day-weather {
    width: calc(33% - 24px);
    padding: 0 12px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 12px;

    &:not(:last-child) {
      border-right: 3px solid var(--color);
    }

    small {
      margin-bottom: 12px;

      color: var(--color-darker);
      font-size: 24px;
      font-weight: 600;
    }

    .weather-icon {
      width: 120px;
      height: 120px;

      display: grid;
      place-items: center;

      font-size: 100px;
      color: var(--color);
      opacity: 0.3;
    }

    .degrees {
      font-size: 0.6em;
    }

    h1,
    h2 {
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 58px;
    }

    h2 {
      text-align: center;
    }
  }
}
