.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
  
    .nav-arrow {
      height: 100%;
      width: 100px;
      z-index: 2;
    }

  .chart {
    width: calc(100%);
    height: calc(100%);

    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 1;
  }

  .weather-content {
    flex-grow: 100;
    align-self: center;

    overflow: hidden;

    z-index: 2;

    .error-msg {
      h3 {
        padding: 16px 0;
        margin: 0;

        font-size: 54px;
        font-weight: 700;
        line-height: 1em;
      }

      h4 {
        padding: 0;
        margin: 0;

        font-size: 32px;
        font-weight: 600;
        line-height: 1em;
      }
    }

    .weather-icon {
      width: 40%;
      max-height: 80%;

      position: absolute;
      top: 50%;
      right: 80px;

      transform: translateY(-50%);

      // fill: var(--accent-lighter);
      fill: var(--color);
      opacity: 0.3;
    }

    .weather-info {
      position: relative;
      z-index: 2;

      header {
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;
        // justify-content: space-between;

        p {
          padding: 0;
          margin: 0;

          color: var(--color-darker);
          font-size: 28px;
          font-weight: 500;
          line-height: 1em;

          span {
            margin-right: 6px;
            color: var(--color);
            font-size: 1.2em;
            font-weight: 600;

            border-right: 2px solid var(--color-darker);
          }
        }

        small {
          margin-top: 8px;
          font-size: 18px;
        }
      }

      h3 .unit,
      h4 .unit {
        font-size: 0.8em;
      }

      h3 {
        padding: 16px 0;
        margin: 0;

        font-size: 54px;
        font-weight: 700;
        line-height: 1em;

        // text-shadow: 0 0 6px $app-text-shadow;

        span {
          font-size: 1.2em;
        }
      }

      h4 {
        padding: 0;
        margin: 6px 0 0 0;

        color: var(--color-darker);
        font-size: 28px;
        font-weight: 500;

        // text-shadow: 0 0 6px $app-text-shadow;

        span {
          color: var(--color);
          font-size: 1.2em;
          font-weight: 700;
        }
      }
    }
  }
}
