<app-page-skeleton [navigation]="navigation">
  <div class="chart">
    <app-chart></app-chart>
  </div>

  <div class="weather-content">
    <ng-container *ngIf="weather$ | async as weather; else error">
      <div class="weather-icon">
        <app-weather-icon [icon]="weather.weather[0].icon"></app-weather-icon>
      </div>

      <div class="weather-info">
        <header>
          <p>
            <span
              >{{
                this.route.snapshot.data["weather"] == "today"
                  ? "Dzisiaj"
                  : "Jutro"
              }}
            </span>
            {{ weather.city.name | capitalizefirst }},
            {{ weather.city.country | uppercase }}
          </p>
          <small>Zaktualizowano {{ weather.updateAt | dateAgo }}.</small>
        </header>

        <h3>
          {{ weather.weather[0].description | capitalizefirst }}&nbsp;<span>{{
            weather.main.temp | number: "1.0-0"
          }}</span
          ><span class="unit">°C</span>
        </h3>
        <h4>
          Odczuwalna:
          <span>{{ weather.main.feels_like | number: "1.0-0" }}</span
          ><span class="unit">°C</span>
        </h4>
        <h4>
          Wilgotność:
          <span>{{ weather.main.humidity | number: "1.0-0" }}</span
          ><span class="unit">%</span>
        </h4>
        <h4>
          Ciśnienie:
          <span>{{ weather.main.pressure | number: "1.0-0" }}</span
          ><span class="unit">hPa</span>
        </h4>
      </div>
    </ng-container>
    <ng-template #error>
      <h1>Coś poszło nie tak podczas pobierania pogody!</h1>
      <h2>Sprawdź połączenie z internetem i spróbuj ponownie.</h2>
      <button type="button" class="btn" (click)="onRefreshWeather()">
        Pobierz pogodę
      </button>
    </ng-template>
  </div>
</app-page-skeleton>
