// $app-accent: #0061D1;
// $app-accent-lighter: lighten( $app-accent, 20% );

// $app-color: #FFF; // #FFF
// $app-color-darker: darken($app-color, 30%);
// $app-color-darkest: darken($app-color, 40%);

$app-text-shadow: rgba(0,0,0,0.2);

$app-padding: 20px;
$app-border-radius: 0;

$app-height: 480px;
$app-width: 800px;

:root {
  --accent: #0061D1;
  --accent-lighter: #0072F4;

  --color: #FFFFFF;
  --color-darker: #E2E2E2;
  --color-darkest: #ACACAC;
}