<div class="home-container">
  <div class="message">
    <h1>Czas wstawać !</h1>
    <p class="time">
      {{ currentDate$ | async | date: "HH:mm":(timezone$ | async)?.offset }}
    </p>
    <p class="date">
      {{ currentDate$ | async | date: "EEEE":(timezone$ | async)?.offset }},
      {{ currentDate$ | async | date: "longDate":(timezone$ | async)?.offset }}
    </p>
  </div>
  <div class="buttons">
    <button
      class="btn snooze"
      [ngStyle]="
        newAlarmTime !== null ? { disabled: false } : { disabled: true }
      "
      (click)="onSnooze()"
      [disabled]="newAlarmTime"
    >
      {{
        !newAlarmTime
          ? "Drzemka na " + snoozeLength + " min."
          : "Przełożono na: " +
            (newAlarmTime | date: "HH:mm":(timezone$ | async)?.offset)
      }}
    </button>
    <button class="btn turnoff" (click)="onTurnOff()">Wyłącz</button>
  </div>
</div>
