<div class="alarm">
  <div class="innerContainer" (click)="onModifyAlarm()">
    <!-- (clickElsewhere)="isModified ? onModifyAlarm(null) : null" -->
    <header>
      <div class="time">
        <div class="hours">
          <button class="increase" (click)="onIncrease('hours')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21.485"
              height="34.485"
              viewBox="0 0 21.485 34.485"
            >
              <g transform="translate(4.243 4.243)">
                <line
                  x1="13"
                  y2="13"
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-width="6"
                />
                <line
                  x1="13"
                  y1="13"
                  transform="translate(0 13)"
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-width="6"
                />
              </g>
            </svg>
          </button>
          <p class="value">
            {{ !isModified ? pad(alarm.time.hours) : pad(newAlarm.time.hours) }}
          </p>
          <button class="decrease" (click)="onDecrease('hours')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21.485"
              height="34.485"
              viewBox="0 0 21.485 34.485"
            >
              <g transform="translate(4.243 4.243)">
                <line
                  x1="13"
                  y2="13"
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-width="6"
                />
                <line
                  x1="13"
                  y1="13"
                  transform="translate(0 13)"
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-width="6"
                />
              </g>
            </svg>
          </button>
        </div>

        <div class="separator">:</div>

        <div class="minutes">
          <button class="increase" (click)="onIncrease('minutes')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21.485"
              height="34.485"
              viewBox="0 0 21.485 34.485"
            >
              <g transform="translate(4.243 4.243)">
                <line x1="13" y2="13" stroke-linecap="round" stroke-width="6" />
                <line
                  x1="13"
                  y1="13"
                  transform="translate(0 13)"
                  stroke-linecap="round"
                  stroke-width="6"
                />
              </g>
            </svg>
          </button>
          <p class="value">
            {{
              !isModified ? pad(alarm.time.minutes) : pad(newAlarm.time.minutes)
            }}
          </p>
          <button class="decrease" (click)="onDecrease('minutes')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21.485"
              height="34.485"
              viewBox="0 0 21.485 34.485"
            >
              <g transform="translate(4.243 4.243)">
                <line x1="13" y2="13" stroke-linecap="round" stroke-width="6" />
                <line
                  x1="13"
                  y1="13"
                  transform="translate(0 13)"
                  stroke-linecap="round"
                  stroke-width="6"
                />
              </g>
            </svg>
          </button>
        </div>
      </div>
      <label class="label">
        <div class="toggle">
          <input
            class="toggle-state"
            type="checkbox"
            name="check"
            value="check"
            [checked]="!isModified ? alarm.active : newAlarm.active"
            (click)="onToggleActive()"
          />
          <div class="toggle-inner">
            <div class="indicator"></div>
          </div>
          <div class="active-bg"></div>
        </div>
      </label>
    </header>
    <ul class="days">
      <li
        *ngFor="let day of dayOrder"
        [ngClass]="
          (!isModified
          ? alarm.repeat[day]
          : newAlarm.repeat[day])
            ? 'active'
            : ''
        "
        (click)="onToggleRepeatDay(day)"
      >
        {{ translateNameOfDay(day) }}
      </li>
    </ul>
  </div>

  <div class="buttons">
    <button class="save" (click)="onSaveAlarm()">Zapisz zmiany</button>
    <button class="remove" (click)="onRemoveAlarm()">Usuń alarm</button>
  </div>
</div>
