.alarm {
  background: #555;
  border-radius: 12px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .innerContainer {
    padding: 20px;

    display: flex;
    flex-flow: column;

    color: #555;
    background: #fff;
    border-radius: 12px;

    header {
      margin-bottom: 20px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .time {
        $time-font-size: 60px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .hours,
        .minutes,
        .seconds {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          button {
            padding: 0;
            margin: 0;

            display: none;

            background: none;
            outline: none;
            border: none;

            cursor: pointer;

            svg {
              width: $time-font-size/2;
              height: $time-font-size/2;
            }

            svg g line {
              stroke: #555;
            }

            &.increase {
              transform: rotate(90deg);
            }

            &.decrease {
              transform: rotate(-90deg);
            }
          }

          p {
            width: calc($time-font-size * 1.5);

            padding: 0;
            margin: 0;

            display: block;

            color: #555;
            font-size: $time-font-size;
            font-weight: 700;
            line-height: 1em;
            text-align: center;
            // text-shadow: 0 0 6px $app-text-shadow;
          }
        }

        .separator {
          color: #555;
          font-size: $time-font-size;
          font-weight: 700;
          line-height: 1em;
          // text-shadow: 0 0 6px $app-text-shadow;
        }
      }

      .label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        .toggle {
          $toggle-size: 44px;
          $toggle-padding: 4px;

          isolation: isolate;
          position: relative;
          height: $toggle-size;
          width: 2 * $toggle-size;
          border-radius: $toggle-size/2;
          background: #555;
          overflow: hidden;

          .toggle-state {
            display: none;

            &:checked ~ .active-bg {
              transform: translate3d(-50%, 0, 0);
            }

            &:checked ~ .toggle-inner .indicator {
              transform: translate3d(25%, 0, 0);
              background: #fff;
            }
          }

          .toggle-inner {
            z-index: 2;
            position: absolute;
            top: $toggle-padding;
            left: $toggle-padding;
            height: $toggle-size - $toggle-padding * 2;
            width: $toggle-size * 2 - $toggle-padding * 2;
            border-radius: ($toggle-size - $toggle-padding * 2)/2;
            overflow: hidden;

            .indicator {
              height: 100%;
              width: 200%;
              background: #fff;
              border-radius: $toggle-size/2;
              transform: translate3d(-75%, 0, 0);
              transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
            }
          }

          .active-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 200%;
            background: #31e3ad;
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.05s linear 0.17s;
          }
        }
      }
    }

    .days {
      padding: 0;
      margin: 0;

      display: flex;
      flex-flow: row wrap;

      list-style: none;

      li {
        font-size: 1.4em;
        font-weight: 600;
        text-transform: uppercase;

        cursor: pointer;

        &:not(:last-child) {
          margin-right: 12px;
        }

        &.active {
          color: #31e3ad;
          font-weight: 700;
        }
      }
    }
  }

  .buttons {
    width: calc(100% - 40px);

    padding: 20px;

    display: none; // Zmieniane po włączeniu edycji alarmu
    flex-flow: row nowrap;
    justify-content: space-between;

    button {
      padding: 10px 40px;

      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      border-radius: 50px;

      cursor: pointer;

      &.save {
        background: #31e3ad;
      }

      &.remove {
        background: red;
      }
    }
  }

  &.modifing {
    cursor: default;

    header .time div button {
      display: block !important;
    }

    .buttons {
      display: flex !important;
    }
  }
}
