<div
  class="notification-bar"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
>
  <a
    class="left-arrow"
    [ngStyle]="
      notifications.length <= 1 || getActiveNotification() === 0
        ? { opacity: 0 }
        : {}
    "
    (click)="onPreviousNotification()"
  >
    <svg viewBox="0 0 21.485 34.485">
      <g transform="translate(4.243 4.243)">
        <line x1="13" y2="13" stroke-linecap="round" stroke-width="6" />
        <line
          x1="13"
          y1="13"
          transform="translate(0 13)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>

  <div class="notifications-list">
    <div
      *ngFor="let notification of notifications; let i = index"
      class="notification"
      [@nextNotification]="
        getActiveNotification() > i
          ? 'leave'
          : getActiveNotification() < i
          ? 'enter'
          : 'active'
      "
    >
      <div class="notification-icon" [ngSwitch]="notification.type">
        <app-weather-icon
          *ngSwitchCase="'weather'"
          [icon]="notification.icon"
        ></app-weather-icon>
        <i class="bi bi-alarm-fill" *ngSwitchCase="'alarm'"></i>
        <i class="bi bi-stopwatch-fill" *ngSwitchCase="'stopwatch'"></i>
        <i class="bi bi-hourglass-split" *ngSwitchCase="'timer'"></i>
        <i class="bi bi-bell-fill" *ngSwitchDefault></i>
      </div>

      <div class="notification-text">
        <h5>{{ translateType(notification.type) | capitalizefirst }}</h5>
        <h2>{{ notification.message | capitalizefirst }}</h2>
      </div>
    </div>
  </div>

  <a
    class="right-arrow"
    [ngStyle]="
      notifications.length <= 1 ||
      getActiveNotification() === notifications.length - 1
        ? { opacity: 0 }
        : {}
    "
    (click)="onNextNotification()"
  >
    <svg viewBox="0 0 21.485 34.485">
      <g transform="translate(-747.257 -176.257)">
        <line
          x2="13"
          y2="13"
          transform="translate(751.5 180.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
        <line
          y1="13"
          x2="13"
          transform="translate(751.5 193.5)"
          stroke-linecap="round"
          stroke-width="6"
        />
      </g>
    </svg>
  </a>
</div>
