<div class="home-container">
  <app-page-skeleton class="container" [navigation]="navigation">
    <div class="home-content">
      <ng-container
        *ngIf="currentDate$ | async as currentDate"
        [ngSwitch]="(settings$ | async)?.clockStyle"
      >
        <app-standard-clock
          *ngSwitchCase="1"
          [time]="currentDate"
          [timezone]="(settings$ | async)?.timezone"
          [username]="username"
        ></app-standard-clock>
        <app-wide-clock
          *ngSwitchCase="2"
          [time]="currentDate"
          [timezone]="(settings$ | async)?.timezone"
        ></app-wide-clock>
        <app-boxy-clock
          *ngSwitchCase="3"
          [time]="currentDate"
          [timezone]="(settings$ | async)?.timezone"
        ></app-boxy-clock>
        <app-sunny-clock
          *ngSwitchCase="4"
          [time]="currentDate"
          [timezone]="(settings$ | async)?.timezone"
          [weather]="weather$ | async"
        ></app-sunny-clock>
      </ng-container>
    </div>
  </app-page-skeleton>
  <div class="notification-bar">
    <app-notification-bar></app-notification-bar>
  </div>
</div>
