<div class="home-container">
  <app-page-skeleton class="container" [navigation]="navigation">
    <div class="home-content">
      <ng-container [ngSwitch]="(settings | async).clockStyle">
        <app-standard-clock
          *ngSwitchCase="1"
          [time]="getNow()"
          [timezone$]="timezone$"
          [username]="username"
        ></app-standard-clock>
        <app-wide-clock
          *ngSwitchCase="2"
          [time]="getNow()"
          [timezone$]="timezone$"
        ></app-wide-clock>
        <app-boxy-clock
          *ngSwitchCase="3"
          [time]="getNow()"
          [timezone$]="timezone$"
        ></app-boxy-clock>
        <app-sunny-clock
          *ngSwitchCase="4"
          [time]="getNow()"
          [timezone]="timezone$ | async"
          [weather]="weather$ | async"
        ></app-sunny-clock>
      </ng-container>
    </div>
  </app-page-skeleton>
  <div class="notification-bar">
    <app-notification-bar></app-notification-bar>
  </div>
</div>
