@import "styles.scss";

.home-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;

  .container {
    flex-grow: 100;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    .navigation-arrow {
      height: auto;
      width: 20px;
      padding: 0 30px;
      z-index: 9999;
    }

    .home-content {
      flex-grow: 100;
      padding: 0 20px;

      overflow: hidden;

    }
  }
}
