<app-page-skeleton [navigation]="navigation">
  <div class="settings-content">
    <header>
      <h2>Ustawienia</h2>
    </header>
    <section class="settings-wraper">
      <form [formGroup]="settingsForm">
        <div class="form-input">
          <h3>Jasność ekranu</h3>
          <div class="form-input">
            <input
              class="brightness-slider"
              type="range"
              min="1"
              max="100"
              formControlName="screenBrightness"
            />
          </div>
        </div>
        <div class="form-input">
          <h3>Kolor akcentu</h3>
          <div class="accent-color-picker">
            <div
              class="accent-color-option"
              *ngFor="let theme of availableThemes$ | async"
            >
              <input
                [id]="theme.name"
                type="radio"
                [value]="theme.name"
                formControlName="activeTheme"
              />
              <label
                [for]="theme.name"
                [style.background]="theme.properties.accent"
              ></label>
            </div>
          </div>
        </div>
        <div class="form-input">
          <h3>Styl zegarka</h3>
          <div class="clock-style-picker">
            <div
              class="clock-style-option"
              *ngFor="let clockStyle of clockStyles"
            >
              <input
                [id]="clockStyle"
                type="radio"
                [value]="clockStyle"
                formControlName="activeClockStyle"
              />
              <label [for]="clockStyle">{{ clockStyle }}</label>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</app-page-skeleton>
