.wraper {
  --element-color: var(--accent);
  --element-size: 6rem;

  width: calc(var(--element-size)/2.2*3.2);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

button {
  padding: 0;
  margin: 0;

  background: none;
  outline: none;
  border: none;
  opacity: 1;

  i {
    color: var(--element-color);
    font-size: calc(var(--element-size)/2.2);
    line-height: 1em;
  }

  &[disabled] {
    opacity: 0;
  }
}

p {
  display: block;

  text-align: center;

  padding: 0;
  margin: 0;

  color: var(--element-color);
  font-size: var(--element-size);
  font-weight: 700;
  line-height: 1em;
}
