@import "variables.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

html,
body {
  padding: 0;
  margin: 0;

  color: var(--color);
  background: #000;
  font-family: "Montserrat", sans-serif;

  transition: color linear 500ms;
}

.navigation-arrow {
  stroke: var(--color);
  fill: none;
}
