@import "variables.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  color: var(--color);
  background: #000;
  font-family: "Montserrat", sans-serif;

  transition: color linear 500ms;
}

.navigation-arrow {
  stroke: var(--color);
  fill: none;
}

.btn {
  width: 48%;
  padding: 15px;

  outline: none;
  border: none;
  border-radius: 500px;
  // box-shadow: 0 0 6px 0 $app-text-shadow;

  font-size: 24px;
  font-weight: 600;

  &.start-btn {
    color: var(--accent);
    background: var(--color);

    &:hover {
      background: var(--color-darker);
    }
  }

  &.stop-btn {
    background: #b90b0b;
    color: var(--color);

    &:hover {
      background: darken(#b90b0b, 10%);
    }
  }

  &.btn-full-width {
    width: 100%;
  }
}
