<div class="home-container">
    <div class="message">
        <h1>Czas wstawać !</h1>
        <p class="time">{{ getNow()?.format('LT') }}</p>
        <p class="date">{{ getNow()?.format('dddd') }}, {{ getNow()?.format('LL') }}</p>
    </div>
    <div class="buttons">
        <button class="btn snooze" [ngStyle]="newAlarmTime != null ? {disabled: false} : {disabled: true}" (click)="onSnooze()">Drzemka</button>
        <button class="btn turnoff" (click)="onTurnOff()">Wyłącz</button>
    </div>
</div>
